.ib-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3px 16px;
  transition: 0.3s;
  box-sizing: border-box;
}

.ib-question-left {
  background: #f8f9fa;
  border-right: 3px solid #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ib-question-right {
  background: #f8f9fa;
  flex: 1;
  padding: 24px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ib-question-status {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #e8ebed;
  background: #fff;
  position: relative;
}

.ib-status-container {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}

.checkmark.ib-status-container {
  background: #36c247;
}

.warning.ib-status-container {
  background: #e05316;
}

.ib-status-container:after {
  position: absolute;
  display: block;
  content: "";
}

.checkmark.ib-status-container:after {
  left: 15px;
  top: 7px;
  width: 8px;
  height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
}

.warning.ib-status-container:after {
  left: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
}

.ib-question-text {
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0 16px;
}

/* Question option checkbox and radio buttons */
/* Styling idea taken from W3Schools, changes were made */

.ib-option-label {
  height: 24px;
  user-select: none;
  position: relative;
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  padding-left: 33px;
  cursor: pointer;
}

.ib-option-label > .ib-option-text {
  height: 24px;
  vertical-align: middle;
}

.ib-option-label > input {
  /*display: none;*/
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.ib-option-label > .ib-option-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px solid #e8ebed;
  transition: 0.3s;
}

.ib-option-label > .checkbox.ib-option-checkmark {
  border-radius: 0;
}

.ib-option-label > .radio.ib-option-checkmark {
  border-radius: 50%;
}

.ib-option-label:hover > .ib-option-checkmark {
  background: #ccc;
}

.ib-option-label input:checked ~ .ib-option-checkmark,
.ib-option-label.disabled > input:checked ~ .ib-option-checkmark {
  background: #36c247;
}

.ib-option-checkmark:after {
  position: absolute;
  display: none;
  content: "";
}

.ib-option-label input:checked ~ .ib-option-checkmark:after {
  display: block;
}

.ib-option-label > .checkbox.ib-option-checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;

  /* checkmark */
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
}

.ib-option-label > .radio.ib-option-checkmark:after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 6px;

  /* radio button */
  border-radius: 50%;
  background: #fff;
}

.ib-option-label.disabled {
  cursor: default
}

.ib-option-label.disabled > input {
  cursor: default;
}

.ib-option-label.disabled > input ~ .ib-option-checkmark {
  background: #e8ebed;
}

