@import "./variables.css";
@import "./question.css";
@import "./points-panel.css";

/* Form Button */
.ib-btn {
  border: none;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.ib-btn.primary {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  background-color: var(--primary-color);
  color: #fff;
}

.ib-btn.primary:hover {
  -webkit-filter: grayscale(20%);
  -moz-filter: grayscale(20%);
  filter: grayscale(20%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.ib-btn.primary:active {
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  filter: grayscale(30%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.ib-btn:hover {
  filter: brightness(90%);
}

.ib-btn:active {
  filter: brightness(75%);
}

.ib-btn:disabled,
.ib-btn.primary:disabled:hover {
  cursor: default;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  box-shadow: none;
}

/* Icon Button */

.ib-btn .icon {
  height: 90%;
  width: 90%;
}

.icon.ib-btn {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
}

.icon.ib-btn:hover {
  filter: none;
}

.white.icon.ib-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

.icon.ib-btn:active {
  filter: none;
}

.white.icon.ib-btn:active {
  background: rgba(255, 255, 255, 0.25);
}