/* Panels */
.ib-points {
  position: fixed;
  top: 90px;
  right: 0;
  background-color: var(--secondary-color);
  color: #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 8px 2px rgba(0, 0, 0, 0.12);
  font-weight: normal;
}

.correct .ib-points {
  background-color: var(--success-color);
}

.label.ib-points {
  height: 60px;
  min-width: 64px;
  z-index: 5;
  padding: 0 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.question.ib-points {
  width: 600px;
  padding: 16px;
  z-index: 6;
  transform: translateX(690px);
  transition: transform 0.3s cubic-bezier(0.5, 0, 1, 0.5);
  will-change: transform;
  box-sizing: border-box;
}

.question.visible.ib-points {
  transform: translateX(0);
  transition: transform 0.25s cubic-bezier(0, 1, 0.3, 1);
}

.ib-points-label-panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ib-points-question-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

/* Score Panel */

.ib-points-score-label {
  font-size: 16px;
  margin: 0;
  line-height: 1.2;
  font-family: "Roboto", "Helvetica", sans-serif;
}

/* Question List Panel */

.ib-question-list-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ib-question-list-header .ib-question-list-title {
  margin: 0;
  font-weight: normal;
}

.ib-question-list-header .icon.ib-btn {
  width: 48px;
  height: 48px;
}

.ib-question-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ib-question-list-item-title {
  margin-right: 24px;
  color: inherit;
}

.ib-question-list-item-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.ib-question-list-item-panel .ib-btn {
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
}

.ib-question-list-item-panel p.ib-question-score {
  min-height: 36px;
  padding: 5px 8px 4px;
  margin: 0 0 0 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: right;
  min-width: 69px;
  box-sizing: border-box;
}