:root {
  --option-border: #e8ebed;
  --container-background: #f8f9fa;
  --textbox-border: #1c1c1c;
}

/* Question Container */

.ib-question-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3px 16px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.ib-question-left {
  background: var(--container-background);
  border-right: 3px solid #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ib-question-right {
  background: var(--container-background);
  flex: 1;
  padding: 24px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ib-question-status {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--option-border);
  background: #fff;
  position: relative;
  box-sizing: content-box;
  transition: border 0.3s ease;
  will-change: border;
}

.loading.ib-question-status {
  animation: 1.5s ease-in-out infinite border-color-alter;
}

@keyframes border-color-alter {
  0% {
    border-color: var(--option-border);
  }
  50% {
    border-color: var(--primary-color);
  }
  100% {
    border-color: var(--option-border);
  }
}

.correct.ib-question-status {
  border-color: var(--success-color);
}

.warning.ib-question-status {
  border-color: var(--warning-color);
}

.ib-status-container {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
  will-change: background;
}

.correct .ib-status-container {
  background: var(--success-color);
}

.warning .ib-status-container {
  background: var(--warning-color);
}

.ib-status-container:after {
  position: absolute;
  display: block;
  content: "";
  box-sizing: content-box;
}

.correct .ib-status-container:after {
  left: 15px;
  top: 7px;
  width: 8px;
  height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
}

.warning .ib-status-container:after {
  left: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
}

/* Common Question Components */

.ib-question-text {
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0 9px;
}

.ib-question-hint {
  font-style: italic;
  font-weight: normal;
  margin: 0 0 16px;
}

.ib-question-error {
  font-weight: normal;
  color: var(--warning-color);
  margin: 8px 0 0;
  display: none;
}

.visible.ib-question-error {
  display: block;
}

.ib-question-child {
  margin-bottom: 18px;
}

/* Question Specific Buttons */
.ib-btn.check-answer {
  margin-right: 8px;
}

/* Question option checkbox and radio buttons */
/* Styling idea taken from W3Schools, changes were made */

.ib-option-label {
  height: 24px;
  user-select: none;
  position: relative;
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  padding-left: 33px;
  cursor: pointer;
}

.ib-option-label > .ib-option-text {
  height: 24px;
  vertical-align: middle;
}

.ib-option-label > input {
  /*display: none;*/
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.ib-option-label > .ib-option-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px solid var(--option-border);
  transition: 0.3s;
  box-sizing: content-box;
}

.ib-option-label > .checkbox.ib-option-checkmark {
  border-radius: 0;
}

.ib-option-label > .radio.ib-option-checkmark {
  border-radius: 50%;
}

.ib-option-label:hover > .ib-option-checkmark {
  background: #ccc;
}

.ib-option-label input:checked ~ .ib-option-checkmark,
.ib-option-label.disabled > input:checked ~ .ib-option-checkmark {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.ib-option-checkmark:after {
  position: absolute;
  display: none;
  content: "";
  box-sizing: content-box;
}

.ib-option-label input:checked ~ .ib-option-checkmark:after {
  display: block;
}

.ib-option-label > .checkbox.ib-option-checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;

  /* checkmark */
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
}

.ib-option-label > .radio.ib-option-checkmark:after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 6px;

  /* radio button */
  border-radius: 50%;
  background: #fff;
}

.ib-option-label.disabled {
  cursor: default
}

.ib-option-label.disabled > input {
  cursor: default;
}

.ib-option-label.disabled > input ~ .ib-option-checkmark {
  background: var(--option-border);
}

/*Fill in the blanks*/
.ib-fb-input {
  display: block;
  font-size: 2.5ch;
  outline: none;
  width: calc(100% - 10px);
  padding: 5px;
  box-sizing: border-box;
}

.ib-fb-input.normal {
  border: 1px solid #b5b5b5;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}

.ib-fb-input.normal:focus {
  border: 1px solid var(--textbox-border);
}

.ib-fb-input.normal:hover {
  border: 1px solid var(--textbox-border);
}

.ib-fb-input.hint-num-chars {
  border: none;
  padding: 0;
  font-size: 3ch;
  letter-spacing: .5ch;
  font-family: "droid sans mono", consolas, monospace;
}

.ib-fb-input.hint-num-chars:focus {
  color: var(--primary-color);
}
